* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100vw;
}

.top-menu {
   
}

.logo-apple {
   width: 40px;
}

.box-blue {
   display: flex;
}

.box-green {
   display: inline-block;
   padding: 60px 50px;
}

.box-orange {
   display: inline-block;
}

.title-iphone {
   font-size: 30px;
}

.second-title {
   font-size: 40px;
   margin-top: 10px;
   margin-bottom: 25px;
   font-weight: 300;
}

.graph {
   font-size: 15px;
}

.price {
   font-size: 20px;
   color: #626262;
   font-weight: 300;
   margin-top: 25px;
   margin-bottom: 25px;

}

button {
   background-color: #0071e3;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 20px;
   cursor: pointer;
}

.graph-color {
   margin-top: 55px;
   margin-bottom: 15px;
   font-size: 16px;
   font-weight: 700;
   color: #494949;
}


.troca-cor {
   width: 40px;
   height: 40px;
   border-radius: 50px;
   border: none;
   cursor: pointer;
}

.blue {
   background-color: #81a5c4;
}

.yellow {
   background-color: #f7da47;
}

.white {
   background-color: #c1c1c1;
}

.black {
   background-color: #272d33;
}

.red {
   background-color: #b50012;
}

.purple {
   background-color: #ede7f1;
}

img {
   position: relative;
   width: 350px;
}