* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   height: 100vh;
   width: 100vw;
}

.box-blue {
   display: flex;
}

.box-green {
   display: inline-block;
   margin-top: 300px;
}

.box-orange {
   display: inline-block;
   margin: 210px 131px 0 136px;
}

img {
   position: relative;
   top: 30%;
   width: 350px;
   
}

.title-iphone {
   font-size: 30px;
}

.second-title {
   font-size: 40px;
}

.graph {
   font-size: 20px;
}

.price {
   font-size: 20px;
   color: #626262;
   font-weight: 300;

}